@import './settings.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  @include shadow;
  &__title {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 11px;

    &--position {
      text-align: end;
    }
  }
  &__logo {
    width: 50px;
    height: 50px;
    margin: 0px 5px 0px 15px;
  }

  &--link {
    text-decoration: none;
  }
}

@media screen and (min-width: 700px) {
  .navbar__title {
    font-size: 18px;
  }
}
